%div.header-container
  %div.mobile-header-container
    %ul.mobile-list-header
      %li 
        =image_tag "https://retrovisor.herokuapp.com/images/icons/search_white-9c69f7ea.svg"
      %li
        =image_tag "https://retrovisor.herokuapp.com/images/icons/menu-df848c98.svg"

  %div.desktop-header-container
    %ul.desktop-list-header
      %li Acerca del museo
      %li Salas del museo
      %li Catálogo
      %li Directores
      %li 
        =image_tag "https://retrovisor.herokuapp.com/images/icons/search_white-9c69f7ea.svg"
