%div.hero-section-container
  =image_tag "https://retrovisor.herokuapp.com/images/logos/desktop_logo-0be1a642.svg"

  %h1.hero-title Para los Amantes del Séptimo Arte
  %h4.hero-text Museo Digital del Cine de Culto
  %button.hero-know-more Saber Más
