.header-container {
  margin-right: 0.5rem;

  .mobile-list-header {
    color:#fff;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    width: 100%;

    @media only screen and (min-width: $medium) {
      display: none;
    }
  }
}

.desktop-header-container {
  display: none;

  @media only screen and (min-width: $medium) {
    display: block;

      .desktop-list-header {
      color:#fff;
      display: flex;
      justify-content: flex-end;
      list-style: none;

      li {
        margin-right: 40px;
      }

      li:hover {
        color: $red;
      }
    }
  }
}
